@tailwind base;
@tailwind components;
@tailwind utilities;

/* for the span that we create by using javaScrip*/

ul li{
    margin: 10PX;
    
}



ul li span{
    font-size: xx-large;
    position: absolute;
    
    
    
    left: 57%;

    color: #555;
    line-height: 20px;
    text-align: center;
}

ul li span:hover{
    background: #bacdf3;
    border-radius: 4px;
}
